<!--begin::Header Mobile-->
<div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
    <!--begin::Logo-->
    <a asp-controller="Home" asp-action="Index">
        <img src="~/_metronic/media/logos/logo1.jpg" class="logo-default max-h-30px" alt="logo"/>
    </a>
    <!--end::Logo-->
    <!--begin::Toolbar-->
    <div class="d-flex align-items-center">
        <button class="btn rounded-0 p-0 burger-icon burger-icon-left" id="kt_header_mobile_toggle">
            <span></span>
        </button>
        <button class="btn btn-hover-icon-primary p-0 ml-2" id="kt_aside_mobile_toggle">
        </button>
    </div>
    <!--end::Toolbar-->
</div>
<!--end::Header Mobile-->