@{
    ViewData["Title"] = "Config BSC for MetaMask";
    Layout = "~/Views/Shared/_Layout.Metronic.cshtml";
}
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Row-->
        <div class="row justify-content-center" style="margin-top: 50px">
            <!--begin::Col-->
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                <!--begin::Card-->
                <div class="card card-custome gutter-b">
                    <div class="card-body">
                        <div class="alert alert-custom alert-light-dark fade show mb-5 font-size-11" role="alert">
                            <div class="alert-icon"><i class="flaticon-warning"></i></div>
                            <div class="alert-text">Please connect MetaMark to Binance Smart Chain then click <a asp-action="Index" asp-controller="Home">here</a>. Read <a href="https://docs.binance.org/smart-chain/wallet/metamask.html" target="_blank">Binance Docs</a>.</div>
                        </div>
                    </div>
                </div>
                <!--end:: Card-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->